/* ==========================================================================
   Fonts - @font-face declarations
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPRader';
    src: url('../../fonts/PPRader-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}