#faqs-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.faq-qa {
    width: 100%;
    display: flex;
    padding: 24px 32px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    border-radius: 16px;
    border: 1px solid #E8E2E2;
    background: #FAFAFA;
}

.faq-qa:hover {
    cursor: pointer;
}

.faq-question {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.faq-qa button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.faq-answer {
    display: none;
}

/* make it a little bigger on hover, smoothly */
.faq-icon:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.faq-icon img {
    min-width: 58px;
    min-height: 58px;
}