/* Glassy Overlay Effect */

.glassy {
    /* mask backdrop filter - rectangular ring around edges */
    -webkit-mask-image:
        linear-gradient(to right, #000 0%, #000 10%, transparent 30%, transparent 70%, #000 90%, #000 100%),
        linear-gradient(to bottom, #000 0%, #000 10%, transparent 30%, transparent 70%, #000 90%, #000 100%);
    mask-image:
        linear-gradient(to right, #000 0%, #000 10%, transparent 30%, transparent 70%, #000 90%, #000 100%),
        linear-gradient(to bottom, #000 0%, #000 10%, transparent 30%, transparent 70%, #000 90%, #000 100%);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    backdrop-filter: blur(2px) brightness(1.1) saturate(1.4);
    border-radius: 8px;
}