/* Hero Section */

.hero-section {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    height: max(100vh, var(--min-hero-height));
    width: 100%;
    position: inherit;
    z-index: 10;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../imgs/hero-background.png") lightgray 50% / cover no-repeat;
    backdrop-filter: blur(1px);
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-container {
    position: relative;
    display: inline-block;
    width: clamp(280px, 40vw, 900px);
}

.hero-title-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-title-overlay {
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100%;
    height: calc(100% + 20vh);
    z-index: 100;
}

.hero-subtitle {
    color: #000;
    font-family: "PPRader";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.hero-transition {
    position: absolute;
    top: max(90vh, calc(var(--min-hero-height) - 10vh));
    z-index: 20;
    height: 20vh;
    width: 100%;
    background: #F4F2F3;
    filter: blur(50px);
}

.inline-scottydog {
    display: flex;
    width: 38px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.inline-applovin {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.hero-description {
    color: #000;
    text-align: center;
    font-family: "Spline Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    width: clamp(300px, 60vw, 900px);
}

.hero-description-text {
    color: #000;
    text-align: center;
    font-family: "Spline Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    position: relative;
    z-index: 100;
}

/* Register button */
.register-link:hover {
    cursor: pointer;
}

.register-link img {
    width: 15vw;
}