.prize-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.prize-section>h3 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'PPRader', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
}

.prize-section>img {
    width: 100%;
    max-width: 70%;
}

/* Themed and Sponsor Prizes Grid */
#themed-prizes-content,
#sponsor-prizes-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    width: 100%;
    margin: 1rem 0;
}

.themed-prize {
    width: 100%;
}

.themed-prize-card {
    width: 100%;
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid #E8E2E2;
    /* background: #FAFAFA; */
}

.themed-prize-card:hover {
    cursor: pointer;
}

.themed-prize-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.themed-prize-header h4 {
    margin: 0;
    font-family: 'PPRader', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.themed-prize-card button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.themed-prize-description {
    display: none;
}

.themed-prize-description p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.themed-prize-icon>img {
    height: 40px;
    width: 40px;
}

.themed-prize-icon {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.themed-prize-icon:hover {
    transform: scale(1.1);
}

.themed-prize-icon.rotated {
    transform: rotate(0deg);
}

.themed-prize-icon.rotated:hover {
    transform: rotate(45deg) scale(1.1);
}

.themed-prize-icon img {
    min-width: 40px;
    min-height: 40px;
}

/* Responsive: stack to single column on smaller screens */
@media (max-width: 768px) {

    #themed-prizes-content,
    #sponsor-prizes-content {
        grid-template-columns: 1fr;
    }
}

.grand-prizes-labels {
    font-family: 'PPRader', sans-serif;
    font-size: 20px;
    color: #333;
    margin-top: -0.5rem;
}