/* Schedule Component Styles */

#schedule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    max-width: 850px;
}

.schedule-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.schedule-day-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.schedule-day-wrapper>img {
    width: 120px;
    object-fit: contain;
}

.schedule-time-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

/* Time Label */
.schedule-time-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #000;
    height: stretch;
    width: 20%;
}

.schedule-time-label span {
    font-family: 'PPRader', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    white-space: normal;
    text-align: center;
}

/* Events Container */
.schedule-events {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

/* Event Card */
.schedule-event-card {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid #000;
    gap: 4px;
    flex-grow: 1;
}

.schedule-event-name {
    font-family: 'PPRader', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.schedule-event-location {
    font-family: 'Spline Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    text-align: center;
}

/* Featured Event Card (gradient) */
.schedule-event-featured-friday {
    background: linear-gradient(296deg, #9DCFF2 -0.58%, #F7E9BC 61.55%, #D6F6E9 123.67%);
    border: none;
}

.schedule-event-featured-saturday {
    background: linear-gradient(92deg, #9DCFF2 -1.47%, #FBD8BF 56.45%, #D6F6E9 111.98%);
    border: none;
}

.schedule-event-featured-weekBefore {
    background: linear-gradient(92deg, #9DCFF2 -1.47%, #FBD8BF 56.45%, #D6F6E9 111.98%);
    border: none;
}