/* A speaker image to the left of a name and description, vertically stacked. */

.speaker {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5rem;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.speaker>img {
    z-index: 100;
    height: 100%;
    width: auto;
    flex-shrink: 0;
}

.speaker-info>h3 {
    z-index: 100;
    font-family: 'PPRader', sans-serif;
    margin: 0;
    font-size: 40px;
}

.speaker-info>p {
    margin: 0;
    z-index: 100;
    font-size: 20px;
}

.speaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 1;
}